*{
  padding: 0px;
  margin: 0px;
}

p{
  font-family: "Segoe UI";
  font-size: 18px;
  color: #686868;
}

h1{
  font-family: "oswald";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  color: #192225;
}

h6{  /* Denne bliver brugt til knapper */
  font-family: "oswald";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  color: #192225;
}


p {
  font-family: "Segoe UI";
  font-size: 18px;
}



.wrapper{
  background-color: #F3F3F3;
}

body{
  background-image: url(img-index/baggrund_fuld_hd.jpg);
  background-color: red;
}


.artikel { /*HTML TAGGET SOM HEDDER article Drillet rigtigt meget, ved ikke hvor! Derfor denne løsning med DIV */
  margin: 0px 5%;
  padding-top: 45px;
  border-bottom: solid #686868;
}


.articlepic {
    width: 100%;
      margin: 20px auto;
    }

.artknap { /* Denne bliver brugt til knapper */
background-color: #E8E0D2;
  margin: 20px 85px;
  padding: 2px;
    text-align: center;
}


footer {
  color: white;
  padding: 50px;
  background-color: #192225;
  text-align: center;
}

@media only screen and (min-width:500px) { /* ændre designet ved angivet px brede i browser vindue*/

.artikel {
  max-width: 500px;
  margin: 0px auto;
  padding-top: 40px;
}

}

@media only screen and (min-width:900px) { /* ændre designet ved angivet px brede i browser vindue*/

.wrapper {
  overflow: hidden;
  max-width: 900px;
  margin: auto;
  display: block;
  background-color: #F3F3F3;
}

.artikel{
  max-width: 35%;
  float: left;
  margin: 0 7.5%;
}

footer{
  clear: left;
}
}
