*{
  padding: 0px;
  margin: 0px;
}

/* Her sætter vi rammerne og udformningen af vores navigation og menu, dette
inkluderer headeren nedenunder. */
#navigation{
      padding: 25px;
      color: white;
      font-weight: bolder;
      display: inline-block;
      padding-top: 15px;
      padding-left: 60px;
}
.menu{
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: -30%;
  width: 15%;
  height: 100%;
  color:white;
}

header{
  padding: 2% 0% 1% 5%;
  background-color: #686868;
}


/* Her laver vi stilen til vores h1.  */
h1{
  font-family: "oswald";
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  color: #192225;
  text-align: center;
}

/* Dette samme for vores brødtekst her, dog med færre punkter. */
p {
  font-family: "Segoe UI";
  font-size: 18px;
}


/* Vores wrapper har vi givet en baggrundsfarve for at skabe en side som er lettere
at forstå end, hvis baggrundsbilledet havde været brugt hele vejen. */
.wrapper{
  background-color: #F3F3F3;
}

/* Her sætter vi vores baggrundsbillede ind. Vi har også sat en baggrundsfarve, men
den giver dog ingen bieffekter, da baggrundsbilledet går ind og "overwriter" det. */
body{
  background-image: url(img-index/baggrund_fuld_hd.jpg);
  background-color: red;
}

/* primary content og billede er der hvor vi går ind og manipulerer billedernes
størrelse og placering. */
.pcontent {
width: auto;
  margin: 0px 5%;
  padding-top: 5px;
  border-bottom: solid #686868;
}

.billede {
    width: 100%;
      margin: 20px auto;
    }

/* Her bruger vi en media query for at gøre designet af siden responsiv til
forskellige skærmstørrelser. */
@media only screen and (min-width:500px) {

#navigation{
    width: 100%;
    display: inline;
    font-family: "oswald";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    color: #DCD4C6;
    padding-top: 0%;
    padding-bottom: -20%;
    padding-left: 15%;
    padding-right: 5%;
  }
.menu{
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: -30%;
    width: 15%;
    height: 100%;
    color:white;
  }


.pcontent {
  max-width: 500px;
  margin: 0px auto;
  padding-top: 5px;
}

}

/* Endnu en media query, bare for en skærm som viser flere pixels end den sidste. */
@media only screen and (min-width:900px) {
  #navigation{
        padding: 25px;
        color: white;
        font-weight: bolder;
        display: inline-block;
        padding-top: 30px;
        padding-left: 120px;
  }

  .menu{
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: -30%;
    width: 15%;
    height: 100%;
    color:white;
  }

.wrapper {
  overflow: hidden;
  max-width: 900px;
  margin: auto;
  display: block;
  background-color: #F3F3F3;
}

.pcontent{
  max-width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 5px;
}
}
